@CHARSET "UTF-8";

/**
 *--------------------------------------
 * Apusic (Kingdee Middleware)
 *---------------------------------------
 * Copyright By Apusic ,All right Reserved
 * author   date   comment
 * caihuiji  2012-10-30  Created
 *
 * overview:
 * define the detail style;
 */
#main .content-wrapper::before {
	position: absolute;
	content: ' ';
	border-left: 1px solid #F5D6D6;
	border-right: 1px solid #F5D6D6;
	top: 0px;
	left: 40px;
	width: 2px;
	height: 100%;
}

#main .todo-wrapper {
	border-top: 1px dotted gray;
}

#main .todo-list li {
	border-bottom: 1px dotted gray;
}

/* toggle */
#main .toggle-all {
	position: absolute;
	top: 15px;
}

#main .toggle,#main .toggle-all {
	display: inline-block;
	text-align: center;
	width: 40px;
	height: 40px;
}

/* input */
#main .new-todo {
	width: 100%;
	border: none;
	outline: none;
	padding: 10px 10px 10px 60px;
	box-sizing: border-box;
	font-size: 24px;
}

/* list */
#main .todo-list label {
	padding-left: 20px;
}

#main .todo-list label,#main .todo-list .toggle {
	line-height:2.5em;
}

/* operator list*/
#main .operator-wrapper {
	border-left:2px solid #6C615C;
	font-size: 30px;
}

#main .operator-list .content-tab {
	display:block;
	padding-left:20px;
	height: 50px;
}

#main .operator-list .content-tab:HOVER {
	background-color: gray;
}