@CHARSET "UTF-8";

/**
 *
 * 2012-11-5  ji created
 *
 * overview:
 * define the main style ;
 */
 
.wrapper {
	width:700px;
	margin:0 auto;
}

#header {
	height:150px;
}

#main .content-wrapper{
	position: relative;
}

#main .operator-wrapper{
	position: absolute;
	top:0;
	right:0;
	bottom:0;
	width:300px;
	
}