@CHARSET "UTF-8";

/**
 *--------------------------------------
 * Apusic (Kingdee Middleware)
 *---------------------------------------
 * Copyright By Apusic ,All right Reserved
 * author   date   comment
 * caihuiji  2012-10-30  Created
 *
 * overview:
 * 基本的样式定义
 */
* {
	padding: 0;
	margin: 0;
}

.clear-li-style {
	list-style: none;
}

.clear-a-style {
	text-decoration: none;
	color: black;
}